body {
    font-family: Helvetica;
    background-color: rgb(248, 185, 149);
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex: none;
    justify-content: space-between;
}


h1 {
    background-image: url(d:/codecademy/dasmotos/resources/images/pattern.jpeg);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 20px 20px;
}

#img, h2, h3 {
    text-align: center; 
    margin: 10px;
    border-bottom-left-radius: 20px 20px;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding: 5px;
}

#img {
    padding: 10px;
    border-style: solid;
    border-color: navy;
    border-width: 2px;
}
#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}
